* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.container {
  max-width: 100vw;
}
header {
  color: #333;
  text-align: center;
}
ul {
  line-height: 30px;
  padding-top: 20px;
}
img {
  max-width: 100vw;
}
.aboutme,
.hobbies,
.aspirations {
  padding: 30px;
}
p {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 20px;
}
footer {
  padding: 10px 30px 10px 30px;
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  ul {
    display: flex;
    justify-content: end;
  }
  li {
    list-style: none;
    padding-left: 10px;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: aquamarine;
  }
}
